---
import Layout from "@/layouts/Layout.astro";

import Hero from "@/components/sections/Hero.astro";
import About from "@/components/sections/About.astro";
import Experience from "@/components/sections/Experience.astro";
import Education from "@/components/sections/Education.astro";
import Certificates from "@/components/sections/Certificates.astro";
import Awards from "@/components/sections/Awards.astro";
import Skills from "@/components/sections/Skills.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
---

<Layout title="Curriculum Vitae">
	<main>
		<Hero />
		<About />
		<Experience />
		<Education />
		<Certificates />
		<Awards />
		<Skills />
	</main>
	<KeyboardManager />
</Layout>

<style>
	main {
		padding: 4rem;
		margin: auto;
		width: 100%;
	}
	
</style>
